:root {
  --background-color-main: #262F3E;
  --text-color-main: #abb2bf;
  --font-family-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --container-bg-color: #2D3748;
  --timer-text-color: #e7f0f3c0;
  --input-bg-color: #2D3748;
  --input-border-color: #646e83;
  --input-focus-outline-color: #80909781;
  --button-bg-color: #353F4F;
  --button-hover-bg-color: #63767e81;
}

body {
  background-color: var(--background-color-main);
  color: var(--text-color-main);
  font-family: var(--font-family-main);
  font-size: 24px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  padding: 40px;
  height: 100%;
  background-color: var(--container-bg-color);
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
}

.timer {
  font-size: 64px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--timer-text-color);
}

.controls {
  margin-top: 30px;
}

.time-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="number"] {
  padding: 10px;
  width: 100%;
  max-width: 180px;
  background-color: var(--input-bg-color);
  color: var(--text-color-main);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}

input[type="number"]:focus {
  outline: 2px solid var(--input-focus-outline-color);
  outline-offset: -2px;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 12px 24px;
  background-color: var(--button-bg-color);
  color: var(--text-color-main);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover, button:focus {
  background-color: var(--button-hover-bg-color);
  transform: translateY(-2px);
}

button.disabled, button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--button-bg-color);
}

.custom-time-input {
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 20px;
  }

  .timer {
    font-size: 48px;
  }
}
